header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2E55C1;
    /*ancienne couleur dans le doute : rgb(0, 144, 255)*/
    min-width: 100%;
}

h1{
  color: white;
  margin-left:0.75em;
  font-size: 1.6em;
}

h2{
  font-size:1rem;
}

a{
  text-decoration:none;
  font-weight: bold;
}

a:visited{
  color:#3366CC;
}

a:hover{
  text-decoration:underline;
}

#logoMobile{
  height:4rem;
  margin-left: auto;
  margin-right: 0.8rem;
}

#logoPC{
  height:3.6rem;
  margin-left: auto;
  margin-right: 0.8rem;
}



body{
  margin: 0;
	padding: 0;

  display : flex;
  flex-direction: column;
  align-items: center;

  font-family: 'Open Sans', sans-serif;
  background-color: rgb(245, 245, 245);
}
/*config du premier menu*/
#menuSearch{
  display:flex;
  flex-direction: column;
}

#menuSearch p{
  margin: 0;
}

#searchBar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

#identifiant{
  border-radius:0.5rem;
  border: solid 0.1rem grey;

  padding:0.2rem;
  padding-left:0.3rem;
}

button{
  background-color: rgb(194, 240, 255);
  border-radius:0.6rem;
  border:solid 0.1rem grey;
}

button:hover{
  background-color: rgb(214, 214, 214);
}

.menu{
  display: flex;
  flex-direction: column;
  margin:4rem;

  row-gap: 1.3rem;
  margin-bottom:4rem;
}

.card{
  display:flex;
  flex-direction : column;

  background-color: white;

  border :solid 0.1rem gray; 
  border-radius: 2.5em;

  padding: 0.75em;
  padding-left: 3em;
  padding-right: 3em;
  max-width: 20em;

  box-shadow: 0.4rem 0.4rem 1rem rgb(177, 177, 177);

  
}
.introTuto{
  display:flex;
  align-items:center;
  gap: 1.2rem;
}

.calendrierLogo{
  width: 2rem;
  height: 2rem;
}

.bottom{
  display:flex;
  
  background-color: white;
  min-width: 100%;
  border-top : solid rgb(97, 97, 97);

  padding-top:1rem;
  padding-bottom:1rem;

  justify-content: space-around;
  align-items: center;

}

.bottom h2{
  margin:0.5em;
  font-size:1.2em;
}

.contact{
  padding:0;
  margin:0;
}

ul{
  list-style: square;
}


#contactLogo{
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 8rem;
}

.loading.hidden {
    display: none;
}
.loading:not(.hidden) + #url {
  display: none;
}
.loading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.loading svg {
  animation: spin 1s linear infinite;
  height: 1.75em;
  width: 1.75em;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

@media (max-width:500px){
  #logoPC{
    display:none;
  }

}

@media (min-width:500px){
  #logoMobile{
    display:none;
  }
}
